{namespace vh=HFWU\HfwuRedirects\ViewHelpers}

	<table class="tx_hfwuredirects" >
		<tr>
			<th>Bezeichnung</th>
			<th>Short-URL</th>
			<th>TYPO3-Seite / Ziel-URL</th>
			<th>Anz. Aufrufe</th>
			<th>Aktionen</th>
		</tr>

		<f:for each="{redirects}" as="redirect">
			<tr>
				<td class="title">{redirect.title}</td>
				<td class="shortUrl">{redirect.shortUrl}</td>
				<f:if condition="{redirect.urlComplete}">
					<f:then>
						<td class="pageTitle">{redirect.urlComplete}</td>
					</f:then>
					<f:else>
						<td class="pageTitle">{redirect.page.title}</td>
					</f:else>
				</f:if>
				<td class="redirectCount">{redirect.redirectCount}</td>
				<td>
					<a href="#" target="_blank" data-uid="{redirect.uid}" class="img_link showQrCode" title="{f:translate(key: \'LLL:EXT:hfwu_redirects/Resources/Private/Language/locallang_be.xlf:general.create_qr_code\')}">
					<img width="20" height="20" src="{vh:Be.UriResource(path: 'Icons/qr.png')}" />
					</a>
					<a title="{f:translate(key: \'LLL:EXT:hfwu_redirects/Resources/Private/Language/locallang_be.xlf:general.test_redirect\')}"
					   target="_blank" class="img_link" href="{siteUrl}{redirect.shortUrl}?redirect_test=1">
					<img width="20" height="20" class="testRedirect" src="{vh:Be.UriResource(path: 'Icons/actions-view.svg')}" />
					</a>
					<f:if condition="{redirect.access}">
						<a title="{f:translate(key: \'LLL:EXT:hfwu_redirects/Resources/Private/Language/locallang_be.xlf:general.entry.edit\')}"
						   class="img_link" href="{vh:Be.BackendEditLink(tableName:'tx_hfwuredirects_domain_model_redirects',identifier:redirect.uid)}">
							<img width="20" height="20" class="addRedirect" src="{vh:Be.UriResource(path: 'Icons/actions-open.svg')}" />
						</a>
						<img width="20" height="20" data-uid="{redirect.uid}"
							 class="deleteEntry" title="{f:translate(key: \'LLL:EXT:hfwu_redirects/Resources/Private/Language/locallang_be.xlf:general.entry.delete\')}" src="{vh:Be.UriResource(path: 'Icons/actions-delete.svg')}" />
					</f:if>
				</td>
			</tr>
		</f:for>
	</table>

