{namespace vh=HFWU\HfwuRedirects\ViewHelpers}

<f:layout name="Default" />

<f:section name="content">

	<f:if condition="{admin}">
		<f:then>
			<h1><f:translate key="general.manage_redirects"></f:translate></h1>
		</f:then>
		<f:else>
			<h1><f:translate key="general.manage_qr_codes"></f:translate></h1>
		</f:else>
	</f:if>

<f:comment>
	<f:flashMessages  />
</f:comment>

	<f:if condition="{pid}">
		<f:then>
			<f:if condition="{redirects}">
				<f:then>
					<f:form.hidden id="deleteConfirmationMessage" value="{f:translate(key: 'general.messages.delete_confirmation_message')}" />
					<f:form.hidden id="ajax_url_list" value="{f:uri.action(action: 'aliasListAjax', noCacheHash:'TRUE', controller:'Redirects')}"/>
					<f:form.hidden id="ajax_url_show_qrcode" value="{f:uri.action(action: 'showQrCode', noCacheHash:'TRUE', controller:'Redirects')}"/>
					<f:form.hidden id="ajax_url_delete_entry" value="{f:uri.action(action: 'deleteEntry', noCacheHash:'TRUE', controller:'Redirects')}"/>
					<f:form.hidden id="argument_key" value="{argumentKey}"/>
					<f:form.hidden class="ajaxParam" additionalAttributes="{data-param-name: 'pid'}" value="{pid}" />
					<f:form.hidden class="ajaxParam" additionalAttributes="{data-param-name: 'site_url'}" value="{siteUrl}" />
					<f:form.hidden class="ajaxParam" additionalAttributes="{data-param-name: 'return_url'}" value="{returnUrl}"/>

					<label for="search_filter" class="filter_label">
						<f:translate key="general.display.filter_search"></f:translate>
					</label>
					<f:form.textfield
						   value="<vh:RawAndRemoveXss>{filter}</vh:RawAndRemoveXss>"
						   class="ajaxFilter ajaxParam ajaxReset"
						   id="search_filter"
						   additionalAttributes="{data-param-name: 'filter', data-default-value: ''}"
							/>


					<f:if condition="{admin}">
						<f:then>
							<label for="filter_types" class="filter_label">
								<f:translate key="general.display.filter_types"></f:translate>
							</label>
							<f:form.select
									id="filter_types"
									class="ajaxParam ajaxReset"
									value="{filter_types}"
									additionalAttributes="{data-param-name: 'filter_types', data-default-value: 'all'}"
									options="{
												all:'{f:translate(key: \'general.display.all\')}',
												redirects_only:'{f:translate(key: \'general.display.redirects_only\')}',
												qr_codes_only:'{f:translate(key: \'general.display.qr_codes_only\')}'
											}"
									/>
							<label for="limit" class="filter_label">
								<f:translate key="general.display.filter_limit"></f:translate>
							</label>
							<f:form.select
									id="limit"
									class="ajaxParam ajaxReset"
									value="{limit}"
									additionalAttributes="{data-param-name: 'limit', data-default-value: '99999'}"
									options="{
												99999:'{f:translate(key: \'general.display.show_all_entries\')}',
												10:'{f:translate(key: \'general.display.show_entries\', arguments: \'{0: 10}\')}',
												20:'{f:translate(key: \'general.display.show_entries\', arguments: \'{0: 20}\')}',
												50:'{f:translate(key: \'general.display.show_entries\', arguments: \'{0: 50}\')}',
												100:'{f:translate(key: \'general.display.show_entries\', arguments: \'{0: 100}\')}'
											}"
									/>
						</f:then>
						<f:else>
							<f:form.hidden class="ajaxParam" additionalAttributes="{data-param-name: 'filter_types'}" value="qr_codes_only" />
							<f:form.hidden class="ajaxParam" additionalAttributes="{data-param-name: 'limit'}" value="{limit}" />
						</f:else>
					</f:if>
					<br />
					<f:form.button class="ajaxFilterReset"><f:translate key="general.display.all"></f:translate></f:form.button>
					<a href="{vh:Be.BackendCreateLink(tableName:'tx_hfwuredirects_domain_model_redirects',identifier:pid, returnUrl:returnUrl)}">
						<f:form.button class="button"><f:translate key="general.entry.create"></f:translate></f:form.button>
					</a>
					<div id="redirect_list" xmlns:f="http://www.w3.org/1999/html">
						<f:render partial="Redirects/AliasList" arguments="{_all}" />
					</div>
				</f:then>
				<f:else>
					<h2><f:translate key="general.entry.no_redirect_entries"></f:translate></h2>
					<a href="{vh:Be.BackendCreateLink(tableName:'tx_hfwuredirects_domain_model_redirects',identifier:pid, returnUrl:returnUrl)}">
						<f:form.button class="button"><f:translate key="general.entry.create"></f:translate></f:form.button>
					</a>
				</f:else>
			</f:if>
		</f:then>
		</f:if>
</f:section>

